.Review {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  input [type="radio"] {
    display: none;
  }
  
  .star {
    cursor: pointer;
    transition: color 200ms;
  }
  
  /*color:
  yellow: #ffc107
  gray: #e4e5e9 */