@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fredoka+One&display=swap');

*{
  box-sizing: border-box;
}
body{
    font-family: 'Fredoka One', cursive;
    
}

a{
  color: goldenrod;
}
a:hover{
  color: black;
  text-decoration:none;
}