@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* titulo */
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Xanh+Mono&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{  
    font-family: 'Fredoka One', cursive; 
    width: 100%;
}

a{
  color: #ce9a18dc
}
a:hover{
  color: #000000cb;
  text-decoration:none;
}

.container{
  margin-top: 140px !important;
  margin-bottom: 120px !important;

}

.appContainer{
  margin-top: 100px;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}