.headCont{
    margin: 20px 5px;
    padding: .75rem;
    border-bottom: 1px solid black ;
}

.pillContainer{
    background: #f3f3f7;
    font-size: 1rem;
    display: inline-flex;
    border-radius: 1.25rem;
}

.btnTrash{
    background-color: white;
    padding: .75rem 1rem;
    outline: none;
    border: none;
    border-radius: 100%;
    transition: all 0.1s ease-in-out;
}

.btnTrash:hover{
    box-shadow: 0 0 0 2px
}


.btnMin{
    background-color: #f3f3f7;
    border-radius: 1.25rem 0 0 1.25rem;
    margin: .125rem;
    padding: .75rem;
    box-shadow: none;
    font-size: .5rem;
    border: none;
    color: rgba(0,0,250);
    outline: none;
}

.btnMax{
    background-color: #f3f3f7;
    border-radius: 0 1rem 1rem 0;
    margin: .125rem;
    padding: .75rem;
    box-shadow: none;
    font-size: .5rem;
    border: none;
    color: rgba(250,0,0);
    outline: none;
}

.priceCeld{
    padding: .50rem;
}


.cant{
    margin: .125rem 0;
    background: #f3f3f7;
    display: inline-block;
    padding: .5rem 0;
    min-width: 2rem;
    text-align: center;
}

.imageCont{

}

.imagen{
    width: 50px !important;
    height: 50px;
    max-width: 50px;
    background-color: white;
    object-fit: contain;
}


/* .cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    cursor: pointer;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: px;
    padding-bottom: px;
}

.imagen {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.add-cart {
    position: absolute;
    width: 100%;
    background: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;

}


/*--cart---*/
/* 
.products-container ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product.header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
} */
