.card {
    margin: 10px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #f0ac4e4f;
    max-width: 800px;
}

.image {
    margin: 20px auto;
    max-width: 100%;
    object-fit: contain;
}

.imageContainer {
    margin: 20px auto;
    max-width: 100%;
    background-color: white;
    border: 2px solid #f0ac4e4f;
    border-radius: 5px;
    padding: 20px;
}

.containerProduct{
    margin-top: 130px !important;
    margin-bottom: 120px !important;
    box-shadow: 0 .1rem 0.5rem rgba(0, 0, 0, 0.200) !important;
    min-width: 450px;
    background-color: rgba(255, 255, 255, 0.03);
}

.btnBack{
    color: white;
    width: 150px;
    height: 45px;
    background-color: #ce9a18dc;
    transition: all 150ms;
}

.btnBack:hover{
    color: white;
    transform: scale(1.1);
    border: 1px solid #ce9a18dc;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: white !important;
    background-color: var(--danger);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .containerProduct{
        max-width: 95%;
    }
    .title{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card{
        display: flex;
        align-items: center;
    }
    .containerProduct{
        max-width: 90%;
    }
    .title{
        width: 100%;
    }
    .imageContainer {
        margin: 20px auto;
        width: 400px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .containerProduct{
        max-width: 70%;
    }
    .title{
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card{
        height: 400px;
        box-shadow: 0 .2rem 0.9rem rgba(0, 0, 0, 0.20) !important;
        border-radius: 30px;
    }
    .containerProduct{
        max-width: 80%;
    }
    .title{
        width: 75%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
    .card{
        height: 400px;
        width: 100%;
    }
    .containerProduct{
        max-width: 60%;
    }
}