.textFooter{
    color: #f0ac4e94;
}

.borderFooter{
    border-bottom: 1px solid #f0ac4e94;
}

.title {
    font-family: 'Rancho', cursive; 
}

.aboutUs{
    font-family: 'Rancho', cursive;
    font-size: 18px;
}