
.containerAB {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}

.image-team {
    max-width: 100%;
}
.sectionAB {
    padding: 10rem 0;
    background-color: #fff;
}

.headingAB {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: 3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
}

.headingAB::after {
    content: "";
    width: 10rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.card-wrapperAB {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


.cardAB  {
    margin: -193px -92px !important;
    transform: scale(0.5);/* Igual que: scaleX(0.5) scaleY(0.5) */
    
    width: 32rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,2);
    font-size: 10px;
    
}

.cardAB-imgAB {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);

}

.profileAB-imgAB {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 1;
    border: 1rem solid #ebeef8;
}

.cardAB h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}

.job-title {
    font-size: 1.5rem;
    color: #777;
    font-weight: 300;
}
.aboutAB {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

.cardAB .btnAB {
    padding: 1rem 2.5rem;
    background-color: #d6d8cf;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: rgb(233, 176, 52);
    font-size: 22px;
    transition: all .5s;
}

.cardAB .btnAB:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
}

.cardAB .btnAB:active {
    transform: translateY(0);
    box-shadow: none;
}

.socialAB-mediaAB {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,.1);
}

.socialAB-mediaAB i{
    font-size: 3rem;
    transition: color .5s;
}

.fa-envelope{
    color: #e6683c;
}
.fa-linkedin-in{
    color: #3b5999;
}

.fa-github{
    color: #2c2827;
}


.fa-envelope:hover,
.fa-linkedin-in:hover,
.fa-github:hover{
    color: #45e19f;
 
}

@media screen and (min-width: 700px) {
    .card-wrapperAB {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
     
    }
    .cardAB {
     margin: 2rem; 
     transition: trasnform .5s;
     
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
        .cardAB:nth-child(1) {
            animation: fadeIn .5s .5s backwards;
        }
        .cardAB:nth-child(2) {
            animation: fadeIn .5s .1s backwards;
        }
        .cardAB:nth-child(3) {
            animation: fadeIn .5s 1.5s backwards;
        }
        .cardAB:nth-child(4) {
            animation: fadeIn .5s 2s backwards;
        }
        .cardAB:hover {
            transform: scale(0.6);
    }
        
} 